<span>Mỗi hành trình, mỗi chuyến đi, BIC luôn đồng hành!</span>
<br />
<span style="font-size: 12px; color: grey;"
  >(Độ tuổi đủ điều kiện tham gia bảo hiểm: từ 06 tháng tuổi đến 80 tuổi)</span
>
<div
  style="
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    margin-block-start: 0px;
  "
>
  <div style="display:flex">
    <span style="font-size: 12px;min-width: 20px;">&#10148;</span>Lên đến 2 tỷ triệu đồng cho Quyền lợi Tai nạn Cá nhân
  </div>
  <div style="display:flex">
    <span style="font-size: 12px;min-width: 20px;">&#10148;</span>Lên đến 1 tỷ cho quyền lợi chi phí y tế
  </div>
  <div style="display:flex">
    <span style="font-size: 12px;min-width: 20px;">&#10148;</span>Lên đến 51 triệu đồng cho quyền lợi Hủy chuyến bay và
    6,3 triệu đồng cho quyền lợi hoãn chuyến bay
  </div>
  <div style="display:flex">
    <span style="font-size: 12px;min-width: 20px;">&#10148;</span>Lên đến 2.1 triệu đồng cho quyền lợi mất giấy tờ thông
    hành mang theo
  </div>
  <div style="display:flex"><span style="font-size: 12px;min-width: 20px;">&#10148;</span>Và các quyền lợi khác</div>
</div>
<span>
  <span>
    Với việc lựa chọn Bảo hiểm BIC tôi đã hiểu và đồng ý với tất cả
    <a
      href="https://docs.atuat.acegroup.com/aceStatic/Doc/VN/ChubbFlight/SummaryBenefitTripi.pdf"
      target="_blank"
      style="text-decoration: none;"
    >
      <font color="#4FC3F7"> <span>Quy tắc</span> </font>
    </a>
    và
    <a
      href="https://docs.atuat.acegroup.com/aceStatic/Doc/VN/ChubbFlight/SummaryBenefitTripi.pdf"
      target="_blank"
      style="text-decoration: none;"
    >
      <font color="#4FC3F7"> <span>Quyền lợi</span> </font>
    </a>
    do BIC quy định. </span
  ><br />
</span>
