@keyframes jump {
  0% {
    top: 0px;
  }

  50% {
    top: -12px;
  }

  100% {
    top: 0px;
  }
}

@-webkit-keyframes marker-effect-rain {
  0% {
    -webkit-transform: translateY(-700px);
    transform: translateY(-700px);
  }
  2.5% {
    -webkit-transform: translateY(-442.444px);
    transform: translateY(-442.444px);
  }
  4.9% {
    -webkit-transform: translateY(-263.478px);
    transform: translateY(-263.478px);
  }
  7.41% {
    -webkit-transform: translateY(-138.395px);
    transform: translateY(-138.395px);
  }
  9.81% {
    -webkit-transform: translateY(-63.648px);
    transform: translateY(-63.648px);
  }
  14.71% {
    -webkit-transform: translateY(2.786px);
    transform: translateY(2.786px);
  }
  19.62% {
    -webkit-transform: translateY(14.345px);
    transform: translateY(14.345px);
  }
  33.93% {
    -webkit-transform: translateY(1.945px);
    transform: translateY(1.945px);
  }
  48.15% {
    -webkit-transform: translateY(-0.118px);
    transform: translateY(-0.118px);
  }
  76.78% {
    -webkit-transform: translateY(0.001px);
    transform: translateY(0.001px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes marker-effect-rain {
  0% {
    -webkit-transform: translateY(-700px);
    transform: translateY(-700px);
  }
  2.5% {
    -webkit-transform: translateY(-442.444px);
    transform: translateY(-442.444px);
  }
  4.9% {
    -webkit-transform: translateY(-263.478px);
    transform: translateY(-263.478px);
  }
  7.41% {
    -webkit-transform: translateY(-138.395px);
    transform: translateY(-138.395px);
  }
  9.81% {
    -webkit-transform: translateY(-63.648px);
    transform: translateY(-63.648px);
  }
  14.71% {
    -webkit-transform: translateY(2.786px);
    transform: translateY(2.786px);
  }
  19.62% {
    -webkit-transform: translateY(14.345px);
    transform: translateY(14.345px);
  }
  33.93% {
    -webkit-transform: translateY(1.945px);
    transform: translateY(1.945px);
  }
  48.15% {
    -webkit-transform: translateY(-0.118px);
    transform: translateY(-0.118px);
  }
  76.78% {
    -webkit-transform: translateY(0.001px);
    transform: translateY(0.001px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.svgPin {
  transition: height 0.6s;
  width: 32px;
  height: 32px;
  -webkit-animation-name: marker-effect-rain;
  animation-name: marker-effect-rain;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.svgMask {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -100%);
}

.pin {
  fill: blue;
  stroke: white;
}

.svgMask:hover .svgPin .pin {
  fill: #2a6ae2;
}

.svgAnimation {
  animation: jump 1s ease-out infinite;
}

.mainPin {
  height: 44px;
  width: 44px;
  position: relative;
  cursor: pointer;
  transform: translate(-50%, -100%);
}
.mainPin .svgPin {
  height: 44px;
  width: 44px;
}
.mainPin .svgPin .pin {
  fill: #00ad50;
}
