.enter {
  max-height: 0;
}

.slideLeft {
  transform: translateX(100%);
  opacity: 0;
}

.slideRight {
  transform: translateX(-100%);
  opacity: 0;
}

.enterActive {
  max-height: 150px;
  transform: translateX(0) !important;
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}

.exitSlide {
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.exit {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  max-height: 150px;
}

.exitActive {
  max-height: 0;
}

.exitLeftActive {
  transform: translateX(-100%);
  opacity: 0;
}

.exitRightActive {
  transform: translateX(100%);
  opacity: 0;
}

.overflowHidden {
  overflow: hidden;
}
