@import './styles.module.scss';
@import '../../../../scss/colors.module.scss';

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $BLUE_MT;
  margin: -3px 0 0 -3px;
}
