/* @font-face {
  font-family: 'Linotte';
  src: url('./fonts/Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Linotte';
  src: url('./fonts/SemiBold.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Linotte';
  src: url('./fonts/Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Linotte';
  src: url('./fonts/Heavy.otf');
  font-weight: 800;
}
@font-face {
  font-family: 'Linotte';
  src: url('./fonts/Light.otf');
  font-weight: 300;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.rc-slider-tooltip {
  z-index: 1500;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
}
